{% extends "base.html" %}

{% load static %}

{% block content %}
<div id="login-form" class="container">
    <h2>Iniciar sesión</h2>
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-danger" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <form method="post" class="px-4 py-3">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_username">Nombre de usuario:</label>
            <input type="text" name="username" class="form-control" id="id_username" required value="{{ username }}">
        </div>
        <div class="form-group">
            <label for="id_password">Contraseña:</label>
            <input type="password" name="password" class="form-control" id="id_password" required>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" name="remember_me" class="form-check-input" id="remember_me">
            <label class="form-check-label" for="remember_me">Recordarme</label>
        </div>
        <button type="submit" class="btn btn-primary">Iniciar sesión</button>
    </form>
    <div class="dropdown-divider"></div>
</div>
{% endblock %}